{% extends 'base.html' %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>{{ _('Stats') }}</h2>
                <p>{{ _('Here you can see some stats about your account.') }}</p>
                <p>{{ _('You can also see the stats of your friends.') }}</p>
            </div>
            <div class="col-md-6">
                <h2>{{ _('Your stats') }}</h2>
                <p>{{ _('Here you can see some stats about your account.') }}</p>
                <p>{{ _('You can also see the stats of your friends.') }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
```